<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Matthew Egan's CS 493 Final Project</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h2>Welcome to Matthew Egan's CS 493 Final Project</h2>
    <p>Press the Begin button to start</p>

    <a href="{{ startURL }}"><input type="button" class="button" value="Begin" style="width:50%; color:black; border-style: solid;border-color: white; background-color: background-color: rgb(240, 87, 27);"/></a>

</body>
</html>